<!DOCTYPE html>
<html>
    <head>
        <title>Denzel's movies</title>
        <style>
        </style>
    </head>
    <body>
        <h1>The Denzel filmography</h1>

        <ul>
            <% /*result.forEach(function(movie, index){*/ %>
                <li><p><%= movies %></p></li>
            <% /*})*/; %>
        </ul>


        <script>
            
        </script>
    </body>
</html>